.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.user-input {
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.loading,
.error {
    margin: 10px 0;
    text-align: center;
}

.error {
    color: red;
}

.user-list {
    max-height: 300px;
    overflow: auto;
}